.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.bookedSqr,
.availableSqr {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #23395b;
    margin-right: 5px;
}

.bookedSqr {
    background-color: #919191;
}

.pitchLine {
    font-size: 27px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #161925;
    margin-top: 20px;
    margin-bottom: 10px;
}

.progressbar {
    position: absolute !important;
    bottom: 0px;
    width: 100%;
}


.resetText {
    margin: 0px 30px 19px;
}

.resetPass {
    margin: 0px 5px 29px 5px;
    text-align: center;
}

.resetPassword {
    margin: 28px 5px 32px 5px;
    font-size: 24px;
}

.bookingContainer {
    display: block;
    position: relative;
    margin-top: 30px !important;
}


.step1 {
    height: 15px;
    width: 102%;
    display: block;
    position: relative;
    background-color: #161925;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.step2 {
    height: 15px;
    width: 102%;
    display: block;
    position: relative;
    background-color: #bebebe;
    -webkit-clip-path: polygon(0% 0%, 5% 50%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    clip-path: polygon(0% 0%, 5% 50%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.step2Active {
    background-color: #23395b !important;
}

.step3 {
    height: 15px;
    width: 102%;
    display: block;
    position: relative;
    background-color: #bebebe;
    -webkit-clip-path: polygon(0% 0%, 5% 50%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    clip-path: polygon(0% 0%, 5% 50%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.step3Active {
    background-color: #4f5b8b;
}

.step4 {
    height: 15px;
    width: 100%;
    display: block;
    position: relative;
    background-color: #bebebe;
    -webkit-clip-path: polygon(0% 0%, 5% 50%, 0% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 5% 50%, 0% 100%, 100% 100%, 100% 0%);
}

.step4Active {
    background-color: #26806b !important;
}

.stepper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 88px;
    box-shadow: 0 1px 2px 0 rgba(100, 100, 100, 0.5);
    border: solid 0.5px #707070;
    background-color: white;
}

.bookingCard {
    border-radius: 12px;
    box-shadow: 2px 2px 2px 0 rgba(100, 100, 100, 0.5);
    border: solid 0.1px #707070;
    background-color: #ffffff;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 0px !important;
}

.title {
    font-size: 27px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: #23395b;
}

.availabilityContainer {
    box-shadow: 1px 1px 1px 0 rgba(100, 100, 100, 0.38);
    border: solid 0.5px #e4e3e3;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px;
}

.updateBtn {
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(100, 100, 100, 0.5);
    background-color: #161925;
    width: 195px;
    height: 53px;
    cursor: pointer;
    outline: none;
    border: none;

    span {
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}

.redirectBtn {
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(100, 100, 100, 0.5);
    background-color: #161925;
    width: 195px;
    height: 42px;
    cursor: pointer;
    outline: none;
    border: none;

    span {
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}


.wrapper {
    max-width: 1000px;
    margin: 0px !important;
}

.cancleBtn {
    width: 110.5px;
    height: 52.5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(100, 100, 100, 0.5);
    background-color: #bebebe;
    cursor: pointer;
    outline: none;
    border: none;

    span {
        font-size: 17.5px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.34;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}

.cancleBtn:disabled {
    cursor: initial;
}

@media only screen and (max-width: 800px) {
    .wrapper {
        margin: 25px !important;
        margin-top: 0px !important;
        margin-bottom: 100px !important;
    }

    .pitchLine {
        font-size: 20px !important;
    }

    .stepperContainer {
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    .cancleBtn {
        width: 100px;
        height: 35px;

        span {
            font-size: 14px;
        }
    }

    .updateBtn {
        width: 160px;
        height: 35px;

        span {
            font-size: 14px;
        }
    }
}