.bookingRow {
  height: 79px;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 0 rgba(100, 100, 100, 0.38);
  border: solid 0.5px #dadada;
  background-color: #ffffff;
}

.row {
  padding-top: 10px;
}

.bookingRowExpanded {
  height: fit-content;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 0 rgba(100, 100, 100, 0.38);
  border: solid 0.5px #dadada;
  background-color: #ffffff;
}

.info {
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.bookingRowRejected {
  height: 70px;
  width: 99% !important;
  border-radius: 7.5px;
  background-color: #c8c8c8;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.avatar {
  width: 57.3px;
  height: 57.3px;
  border-radius: 158px;
  box-shadow: 0 1px 2px 0 rgba(100, 100, 100, 0.5);
}

.avatarReject {
  width: 53.3px;
  height: 53.3px;
  object-fit: contain;
  border-radius: 158px;
}

.editButton {
  width: 210px;
  height: 53px;
  border-radius: 5px !important;
  box-shadow: 0 1px 2px 0 rgba(100, 100, 100, 0.5) !important;
  background-color: #26806b;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.editButton span {
  width: 147px;
  height: 24.5px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}