.Root {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100000;
    margin-top: -50px;
    margin-left: -50px;
    height: 100px !important;
    width: 100px !important;
    outline: none;
    color: #23395b !important;
}

.RootCharter {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100000;
    margin-top: -50px;
    margin-left: -50px;
    height: 100px !important;
    width: 100px !important;
    outline: none;
    color: #26816A !important;
}

.RootSkipper {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100000;
    margin-top: -50px;
    margin-left: -50px;
    height: 100px !important;
    width: 100px !important;
    outline: none;
    color: #23395b !important;
}