@model dynamic
<div class='container'>
    <div class='card'>
        <div class='header'>
            <h2>Skipper Agency</h2>
        </div>
        <h3>Poštovani @Model.GuestName,</h3>
        <h4>Skipperu @Model.SkipperName je isteklo vrijeme potrebno za odgovor za Vaš booking.</h4>
        <h4>Novi zahtjev možete poslati <a class='link' href='@Model.BookingURL'>ovdje</a>.</h4>
        <h4>
            </br>Vaš Skipper Agency tim.
        </h4>
        <h5>E-mail je automatski generiran, te molimo da ne odgovarate na isti.</h5>
        <div class='footer'>
            <h6>© Skipper Agency d.o.o </br>Trg 2, Zagreb</br>OIB 321332132153</h6>
        </div>
    </div>
</div> 